__pycache__/
.DS_store
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.vscode/
site/
*.pyc
*.json
Jupyter to Medium Initial Post_files/
notebooks/
Jupyter to Medium Initial Post_medium.md
*_files/
environment.yml
.coverage
.nox
.pytest_cache
